* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.octodex {
    margin: 20px;
    padding: 0;
}

.octocat  {
  display: inline-block;
  width: 33%;
  height: 33%;
}

.octocat img {
  border: 1px solid #CCCCCC;
  border-radius: 2px;
}

/* higher specificity */
.authors img {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 1px;
  border-style: none;
  border-radius: 10px;
}

.image-caption {
  text-align: right;
  position: relative;
  top: -15px;
}

.image-caption > a {
  position: relative;
  top: -10px;
}

.image-caption > span {
  position: relative;
  top: -10px
}

.image-number {
  position: relative;
  top: 10px;
}

.image-footer {
  border-bottom: 1px solid #CCCCCC;
  height: 40px;
}

ul {
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000
}

span {
  color: #CCCCCC;
}
